fastapi
uvicorn 
pydantic 
typing 
datetime 
passlib
python-multipart
python-jose[cryptography]
passlib[bcrypt]
nest_asyncio
pypdf
pdfplumber
pymupdf
fastapi
uvicorn
pydantic
nest_asyncio
python-dotenv
requests
pymupdf
pdfplumber
nltk
langchain
langchain-core
langchain-openai
langchain-voyageai
langchain-mongodb
pymongo
```