fastapi
uvicorn 
pydantic 
typing 
datetime 
passlib
python-multipart
python-jose[cryptography]
passlib[bcrypt]
nest_asyncio
pypdf
pdfplumber
pymupdf
fastapi
uvicorn
pydantic
nest_asyncio
python-dotenv
requests
PyMuPDF
pdfplumber
nltk
langchain-community
langchain
langchain-core
langchain-openai
langchain-voyageai
langchain-mongodb
pymongo
bs4
logging
typing
dataclasses
scikit-learn
nltk
uuid
rank_bm25
bs4
pydantic
sentence_transformers
pymongo 
dnspython 
certifi